/**
 * header
 *
 * @format
 */

.page {
	width: 1200px;
	background-color: #ede7e2;
	margin: auto;
}

.headerContainer {
	padding-bottom: 300px;
	position: relative;
	text-align: center;
}
.headerText {
	position: absolute;
	color: #150050;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#center {
	text-align: center;
}

.pure-g {
	flex-flow: nowrap;
	flex-direction: column;
}

/* line */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid lightgrey;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

/* colour */
#NorthAmerica {
	color: #faba0a;
	font-size: 30px;
	font-weight: bolder;
}
#Europe {
	color: #7ac3dc;
	font-size: 30px;
	font-weight: bolder;
}

#Oceania {
	color: #efa775;
	font-size: 30px;
	font-weight: bolder;
}

#Asia {
	color: #9a78b0;
	font-size: 30px;
	font-weight: bolder;
}

#Engineer {
	color: #56b4d3;
	font-size: 30px;
	font-weight: bolder;
	font-size: 30px;
	font-weight: bolder;
}

#IT {
	color: #99bda4;
	font-size: 30px;
	font-weight: bolder;
	font-size: 30px;
	font-weight: bolder;
}

#Healthcare {
	color: #f19c93;
	font-size: 30px;
	font-weight: bolder;
	font-size: 30px;
	font-weight: bolder;
}

#US {
	color: #99bda4;
	font-size: 30px;
	font-weight: bolder;
	font-size: 30px;
	font-weight: bolder;
}
#Australia {
	color: #f2c343;
	font-size: 30px;
	font-weight: bolder;
	font-size: 30px;
	font-weight: bolder;
}

#Switzerland {
	color: #2d5f72;
	font-size: 30px;
	font-weight: bolder;
	font-size: 30px;
	font-weight: bolder;
}
/* charts */

.vis-container {
	width: 100%;
	align-items: center;
	align-content: center;
}

.map-container {
	width: 50%;
}

.treemap-container {
	display: flex;
	margin-left: 100px;
	margin-right: 50px;
}

.treemap-content {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.treemap-description {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
}

.sunburst-container {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
}

.sunburst-content {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.sunburst-description {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
}

.scatterplot-container {
	display: flex;
	margin-left: 100px;
	margin-right: 50px;
}

.scatterplot-content {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.scatterplot-description {
	flex: 1;
	margin-bottom: auto;
	margin-top: auto;
	padding-right: 50px;
}

.parallel-container {
	display: flex;
	margin-left: 100px;
	margin-right: 50px;
}

.parallel-content {
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.parallel-description {
	flex: 1;
	margin-bottom: auto;
	margin-top: auto;
	padding-right: 50px;
}

.donut-center {
	width: 60;
	padding-left: 300px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.alluvia-container {
	width: 80%;
	padding-left: 50px;
}

/* font in paragraph */
h1 {
	font-weight: 1000;
	font-family: "Georgia";
	font-size: 70px;
	font-weight: 700;
	color: "white";
}

.description h1 {
	margin-top: 0px;
	align-items: center;
	text-align: center;
}

h2 {
	margin-left: auto;
	margin-right: auto;
	align-items: justify;
	text-align: center;
	font-family: "Georgia";
	font-size: 42px;
	color: #150050;
}

h3 {
	align-items: justify;
	text-align: center;
	font-family: "Georgia";
	font-size: 28px;
	color: #150050;
}

.description {
	padding-left: 100px;
	padding-right: 100px;
}

p {
	font-family: "Trebuchet MS";
	font-size: 22px;
	text-align: justify;
}

#footer {
	font-size: 14px;
	text-align: center;
}

.description-right {
	padding-left: 600px;
	float: right;
}

.description-left {
	padding-right: 20px;
}

.grid {
	margin-bottom: 40px;
}

.small-font {
	font-size: 14px;
}
